# Files created at runtime
log.txt
temp.jpg

# Pycache
**/__pycache__/**

# Dev Environment directories
.coverage
.venv

# For the docker-compose.yml
# Use this to set the auth env vars.
# https://docs.docker.com/compose/compose-file/compose-file-v3/#env_file
auth.env
